Django>=5.1,<7
psycopg[binary,pool]>=3.1,<4
redis>=5,<6
celery[redis]>=5.4,<6
django-celery-beat>=2,<3
djangorestframework>=3.15,<4
django-htmx>=1,<2
django-crispy-forms>=2,<3
crispy-tailwind>=1,<2
whitenoise>=6.7,<7
django-axes>=7,<8
django-cors-headers>=4,<5
python-decouple>=3,<4
Pillow>=10,<12
openpyxl>=3,<4
sentry-sdk[django]>=2,<3
gunicorn>=22,<26
