<tr id="prereq-{{ prereq.pk }}">
  <td>{{ prereq.get_category_display }}</td>
  <td>{{ prereq.prerequisite_type }}</td>
  <td>
    <label class="swap swap-flip">
      <input type="checkbox"
             {% if prereq.is_completed %}checked{% endif %}
             hx-post="{% url 'projects:prerequisite_toggle' project.pk prereq.pk %}"
             hx-target="#prereq-{{ prereq.pk }}"
             hx-swap="outerHTML" />
      <span class="swap-on badge badge-success badge-sm gap-1 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>
        Completado
      </span>
      <span class="swap-off badge badge-warning badge-sm gap-1 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"/></svg>
        Pendiente
      </span>
    </label>
  </td>
  <td>{{ prereq.weight_pct }}%</td>
  <td>
    <button class="btn btn-ghost btn-xs text-error"
            hx-delete="{% url 'projects:prerequisite_delete' project.pk prereq.pk %}"
            hx-target="#prereq-{{ prereq.pk }}"
            hx-swap="outerHTML"
            hx-confirm="Eliminar este prerequisito?">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/></svg>
    </button>
  </td>
</tr>
